.listDisplayMain{
    background-color: white;
    margin-top: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tasks{
   padding-top: 3%;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-width: 70%;
}

.taskRows{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 7px -7px rgb(54, 54, 54);
    width: 100%;
}

.taskCol1{
  width: 5%;
  border: 1px solid brown;
  margin-left: 10%;
  margin-right: -8%;
}

.taskCol2{
    width: 20%;
    /* padding-right: 40px; */
    text-align: left;
}

.taskCol3{
    width: 35%;
    /* padding-right: 40px; */
    text-align: left;
    margin-left: -8%;
}

.taskCol4{
    margin-right: 10%;
}

.addNewTodoBtnDiv{
    display: flex;
    flex-direction: row-reverse;
}
.mainBtn{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    margin-top: 30px;
    margin-right: 10%;
    margin-bottom: 3%;
}